body{
    background-color: rgb(213, 206, 188);
}

h1{
    color:rgb(144, 208, 17);
    background-color: beige
}
h2{
    background: rgb(245, 245, 199);
}
h3{
    background-color: rgb(243, 243, 174);
}