#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#servicos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.serve {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.serve-heart {
    position: absolute;
    background-color: var(--color-primary-4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.serve-description {
    color: var(--color-neutral-1);
    text-align: center;
}

.serve-rate i {
    color: var(--color-primary-5);
}

.serve-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width:1170px) {
    #servicos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .serve {
        width: calc(50%-12px);
    }
}


@media screen and (max-width:600px) {
      .serve {
        width: 100%;
    }

    #servicos .section-subtitle{
        text-align: center;
    }
}
